body {
  background-color: rgb(24, 26, 27);
  color: rgb(165, 157, 145);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

a {
  color: rgb(64, 160, 43);
  text-decoration: none;
}

a:hover {
  font-weight: 600;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 0;
}


h2 {
  margin-bottom: 0;
  margin-top: 1rem;
}

p.sub {
  margin: .2rem 0;
}

.main {
  margin-left: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}

.list {
  list-style-type: none;
  padding-left: 0px;
}

.list-item {
  padding: .5rem;
}

.list-item:nth-child(odd) {
  background-color: rgb(28, 31, 32);
}

.list-prefix {
  display: inline-block;
  width: 30px;
}

.spacer {
  height: 10px;
}

.spacer-l {
  height: 1.5rem;
}

.spacer-xl {
  height: 3rem;
}

.side-bar {
  background-color: rgb(28, 31, 32);
  border-right: solid 1px;
  margin-right: 1rem;
  padding-left: .5rem;
  padding-right: 2rem;
  padding-top: 1.1rem;
  min-height: 100vh;
  min-width: 200px;
}


table {
  width: 1000px;
  display: table;
  table-layout: fixed;
}

table.single {
  width: 650px;
  display: table;
  table-layout: fixed;
}

th h2 {
  margin: 0;
}

td,
th {
  min-width: initial;
  font-size: 1rem;
  min-width: 7.5rem;
  padding: 0.5rem 0.75rem;
  border: solid 1px;
}

.center {
  text-align: center;
}

col.num {
  text-align: center;
  width: 40px; 
}

td.blank,
th.blank {
  background-color: rgb(24, 26, 27);
  text-align: center;
  width: 20px;
  border: 0;
}

thead th {
  border-bottom: 1px solid #44434d;
}

tbody tr:nth-child(odd) {
  background-color: rgb(28, 31, 32);
}
